Repository mayer1a/LeetCode, changes with the labels that .github/labeler.yml gives for each.
All labels: LeetCode100, LeetCode75, Core

IOS-28 Add 735 problem solution
  LeetCode.xcodeproj/project.pbxproj
  LeetCode75/Medium/735. Asteroid Collision/AsteroidCollision.swift
  LeetCode75/main.swift
  UnitTests/LeetCode75/LeetCode75.swift
Labels: LeetCode75

IOS-28 Add 2390 problem solution
  LeetCode.xcodeproj/project.pbxproj
  LeetCode75/Medium/2390. Removing Stars From a String/RemovingStarsFromString.swift
  LeetCode75/main.swift
  UnitTests/LeetCode75/LeetCode75.swift
Labels: LeetCode75

IOS-28 Add solutions to 735, 2390 problems (#38)
  LeetCode.xcodeproj/project.pbxproj
  LeetCode75/Medium/2390. Removing Stars From a String/RemovingStarsFromString.swift
  LeetCode75/Medium/735. Asteroid Collision/AsteroidCollision.swift
  LeetCode75/main.swift
  UnitTests/LeetCode75/LeetCode75.swift
Labels: LeetCode75

IOS-29 Add 394 problem solution
  LeetCode.xcodeproj/project.pbxproj
  LeetCode75/Medium/394. Decode String/DecodeString.swift
  LeetCode75/main.swift
  UnitTests/LeetCode75/LeetCode75.swift
Labels: LeetCode75

IOS-29 Convert Node, TreeNode, ListNode to generic
  LeetCode100/Easy/102. Binary Tree Level Order Traversal/BinaryTreeLevelOrderTraversal.swift
  LeetCode100/Easy/142. Linked List Cycle II/LinkedListCycleII.swift
  LeetCode100/Easy/21. Merge Two Sorted Lists/MergeTwoSortedLists.swift
  LeetCode100/Easy/589. N-ary Tree Preorder Traversal/NAryTreePreorderTraversal.swift
  LeetCode100/Easy/876. Middle of the Linked List/MiddleOfTheLinkedList.swift
  LeetCode100/main.swift
  LeetCode75/Easy/104. Maximum Depth of Binary Tree/MaximumDepthOfBinaryTree.swift
  LeetCode75/Easy/206. Reverse Linked List/ReverseLinkedList.swift
  LeetCode75/Easy/700. Search in a Binary Search Tree/SearchInBinarySearchTree.swift
  LeetCode75/Easy/872. Leaf-Similar Trees/LeafSimilarTrees.swift
  LeetCode75/main.swift
  Shared/Helpers/ListNode.swift
  Shared/Helpers/LongTestCases.swift
  Shared/Helpers/Node.swift
  Shared/Helpers/TreeNode.swift
  UnitTests/LeetCode100/LeetCode100.swift
  UnitTests/LeetCode75/LeetCode75.swift
Labels: LeetCode100, LeetCode75, Core

IOS-29 Add 2095 problem solution
  LeetCode.xcodeproj/project.pbxproj
  LeetCode75/Medium/2095. Delete the Middle Node of a Linked List/DeleteMiddleNodeOfLinkedList.swift
  LeetCode75/main.swift
  UnitTests/LeetCode75/LeetCode75.swift
Labels: LeetCode75

IOS-29 Add solutions to 394, 2095 problems (#39)
  LeetCode.xcodeproj/project.pbxproj
  LeetCode100/Easy/102. Binary Tree Level Order Traversal/BinaryTreeLevelOrderTraversal.swift
  LeetCode100/Easy/142. Linked List Cycle II/LinkedListCycleII.swift
  LeetCode100/Easy/21. Merge Two Sorted Lists/MergeTwoSortedLists.swift
  LeetCode100/Easy/589. N-ary Tree Preorder Traversal/NAryTreePreorderTraversal.swift
  LeetCode100/Easy/876. Middle of the Linked List/MiddleOfTheLinkedList.swift
  LeetCode100/main.swift
  LeetCode75/Easy/104. Maximum Depth of Binary Tree/MaximumDepthOfBinaryTree.swift
  LeetCode75/Easy/206. Reverse Linked List/ReverseLinkedList.swift
  LeetCode75/Easy/700. Search in a Binary Search Tree/SearchInBinarySearchTree.swift
  LeetCode75/Easy/872. Leaf-Similar Trees/LeafSimilarTrees.swift
  LeetCode75/Medium/2095. Delete the Middle Node of a Linked List/DeleteMiddleNodeOfLinkedList.swift
  LeetCode75/Medium/394. Decode String/DecodeString.swift
  LeetCode75/main.swift
  Shared/Helpers/ListNode.swift
  Shared/Helpers/LongTestCases.swift
  Shared/Helpers/Node.swift
  Shared/Helpers/TreeNode.swift
  UnitTests/LeetCode100/LeetCode100.swift
  UnitTests/LeetCode75/LeetCode75.swift
Labels: LeetCode100, LeetCode75, Core

IOS-30 Add 328 problem solution
  LeetCode.xcodeproj/project.pbxproj
  LeetCode75/Medium/328. Odd Even Linked List/OddEvenLinkedList.swift
  LeetCode75/main.swift
  UnitTests/LeetCode75/LeetCode75.swift
Labels: LeetCode75

IOS-30 Add 2130 problem solution
  LeetCode.xcodeproj/project.pbxproj
  LeetCode75/Medium/2130. Maximum Twin Sum of a Linked List/MaximumTwinSumOfLinkedList.swift
  LeetCode75/main.swift
  UnitTests/LeetCode75/LeetCode75.swift
Labels: LeetCode75

IOS-30 Add description var to ListNode
  Shared/Helpers/ListNode.swift
Labels: Core

IOS-30 Add solution to 328, 2130 problems (#40)
  LeetCode.xcodeproj/project.pbxproj
  LeetCode75/Medium/2130. Maximum Twin Sum of a Linked List/MaximumTwinSumOfLinkedList.swift
  LeetCode75/Medium/328. Odd Even Linked List/OddEvenLinkedList.swift
  LeetCode75/main.swift
  Shared/Helpers/ListNode.swift
  UnitTests/LeetCode75/LeetCode75.swift
Labels: LeetCode75, Core

IOS-31 Add 1448 problem solution
  LeetCode.xcodeproj/project.pbxproj
  LeetCode75/Medium/1448. Count Good Nodes in Binary Tree/CountGoodNodesInBinaryTree.swift
  LeetCode75/main.swift
  UnitTests/LeetCode75/LeetCode75.swift
Labels: LeetCode75

IOS-31 Add 437 problem solution
  LeetCode.xcodeproj/project.pbxproj
  LeetCode75/Medium/437. Path Sum III/PathSumIII.swift
  LeetCode75/main.swift
  UnitTests/LeetCode75/LeetCode75.swift
Labels: LeetCode75

IOS-31 Add solutions to 1448, 437 problems (#41)
  LeetCode.xcodeproj/project.pbxproj
  LeetCode75/Medium/1448. Count Good Nodes in Binary Tree/CountGoodNodesInBinaryTree.swift
  LeetCode75/Medium/437. Path Sum III/PathSumIII.swift
  LeetCode75/main.swift
  UnitTests/LeetCode75/LeetCode75.swift
Labels: LeetCode75

.github/labeler.yml:

# File with a list of labels and config options to match and apply the label.
# The key is the name of the label in your repository that you want to add (eg: "merge conflict", "needs-updating") and the value is a match object.

Feature:
- head-branch: ['^feature', 'feature']

Bugfix:
- head-branch: ['^bugfix', 'bugfix']

Release:
- base-branch: 'main'

LeetCode100:
- changed-files:
  - any-glob-to-any-file: ['LeetCode100/**', 'UnitTests/LeetCode100/**']

LeetCode75:
- changed-files:
  - any-glob-to-any-file: ['LeetCode75/**', 'UnitTests/LeetCode75/**']

Core:
- changed-files:
  - any-glob-to-any-file: ['Shared/**']

# To clean fail labels when all is OK

Build Fail:
- base-branch: '_all-globs-to-all-files.all-globs-to-all-files'

Test Fail:
- base-branch: '_all-globs-to-all-files.all-globs-to-all-files'
